body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    color: #516BEB;
    margin: 50px auto 0px auto;
    font-family: 'Merienda', cursive;
    font-size: 5.625rem;
    line-height: normal;
}

h2 {
    color: #516BEB;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #84DFFF;
}

a {
    color: #EDD2F3;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    transition: 0.1s ease-in-out;
}

a:hover {
    color: #516BEB;
    font-weight: bolder;
}

p {
    line-height: 2;
}

hr {
    width: 25%;
    margin: 1rem auto;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    color: #EDD2F3;
}

.top-container {
    background-color: #A6E3E9;
    padding-top: 112px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #2bc4ad;
    padding: 50px 0 25px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
}

.intro {
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.web-dev {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.data-science {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.copyright {
    color: white;
    padding: 10px 0;
}